.filter-box--blur {
  &:hover {
    img {
      filter: blur(5px);
    }
  }
}

.filter-box--grayscale {
  &:hover {
    img {
      filter: grayscale(100%);
    }
  }
}

.filter-box--brightness {
  &:hover {
    img {
      filter: brightness(0.4);
    }
  }
}

.filter-box--contrast {
  &:hover {
    img {
      filter: contrast(200%);
    }
  }
}